{% extends 'base.html' %}
{% block title %}Create A New Blog Category!{% endblock %}
{% block content %}


{% if user.is_authenticated %}
<h1 class="text-light">Add Category</h1>
<div class="form-group text-light">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-variant-1">Add Category</button>
    </form>
</div>
{% else %}
<div class="text-light">
    Please Login or Register if you wish to do this action!
</div>
{% endif %}

{% endblock %}