{% extends 'base.html' %}
{% load cloudinary %}
{% block title %}{{ post.title_tag }}{% endblock %}


{% block content %}

<h1 class="text-light">{{ post.title }}</h1>
<small class="text-light">
    By {{post.author}} - {{post.created_on}}
    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    - <a href="{% url 'update_post' post.slug %}" class="link-light fw-bold">Edit</a>
    <a href="{% url 'delete_post' post.slug %}" class="link-light fw-bold">Delete</a>
    {% endif %}
    {% endif %}
</small>
<hr>
<br>
<div class="text-light">{{ post.content|safe }}</div>
<div class="image-container">
    <img src=" {{ post.featured_image.url }}" class="img-fluid">
</div>

<br>
<br>
<form action="{% url 'like_post' post.slug %}" method="POST">
    {% csrf_token %}

    {% if user.is_authenticated %}
    {% if liked %}
    <div class="text-light">
        <button type="submit" name="post_slug" value="{{ post.slug }}" class="btn btn-danger btn-sm">Unlike</button>
        -
        {{ number_of_likes }} Likes
    </div>
    {% else %}
    <div class="text-light">
        <button type="submit" name="post_slug" value="{{ post.slug }}" class="btn btn-primary btn-sm">Like</button>

        -
        {{ number_of_likes }} Likes
    </div>
    {% endif %}
    {% else %}
    <small class="text-light"><a href="{% url 'account_login' %}" class="link-light fw-bold">Login</a> to like</small> -
    {{ number_of_likes }} Likes
    {% endif %}

</form>
<hr>
<h2 class="text-light">Comments</h2>

{% if not post.comments.all %}
<div class="text-light">
    No Comments Yet... <a href="{% url 'add_comment' post.slug %}" class="link-light fw-bold">Post Comment</a>
</div>
{% else %}
<a href="{% url 'add_comment' post.slug %}" class="link-light fw-bold">Post Comment</a>
<br><br>
{% for comment in post.comments.all %}
<strong class="text-light">
    {{ comment.name }} -
    {{ comment.created_on }}
</strong>
<br>
<div class="text-light">
    {{ comment.body }}
</div>
<hr>
{% endfor %}
{% endif %}



{% endblock %}