{% extends 'base.html' %}
{% load cloudinary %}
{% block title %}{{ post.slug }}{% endblock %}


{% block content %}

<h1 class="text-light">{{ post.title }}</h1>
<small class="text-light">
    By {{post.author}} - {{post.created_on}}
    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    - <a href="{% url 'update_post' post.slug %}" class="link-light fw-bold">Edit</a>
    <a href="{% url 'delete_post' post.slug %}" class="link-light fw-bold">Delete</a>
    {% endif %}
    {% endif %}
</small>
<div class="text-light pt-4">{{ post.content|safe }}</div>
<!-- <div class="image-container"> -->
<img alt="post-image" src=" {{ post.featured_image.url }}" class="img-fluid">
<!-- </div> -->
<form class="pt-2" action="{% url 'like_post' post.slug %}" method="POST">
    {% csrf_token %}

    {% if user.is_authenticated %}
    {% if liked %}
    <div class="text-light">
        <button type="submit" name="post_slug" value="{{ post.slug }}" class="btn btn-danger btn-sm">Unlike</button>
        -
        {{ number_of_likes }} Likes
    </div>
    {% else %}
    <div class="text-light">
        <button type="submit" name="post_slug" value="{{ post.slug }}" class="btn btn-primary btn-sm">Like</button>

        -
        {{ number_of_likes }} Likes
    </div>
    {% endif %}
    {% else %}
    <div class="text-light">
        <small><a href="{% url 'account_login' %}" class="link-light fw-bold">Login</a> to
            like</small> -
        {{ number_of_likes }} Likes
    </div>
    {% endif %}

</form>
<h2 class="text-light pt-2">Comments</h2>
<a href="{% url 'add_comment' post.slug %}" class="link-light fw-bold">Post Comment</a>
{% if not post.comments.all %}
<div class="text-light">No Comments Yet...</div>
{% else %}
<div class="list-group pt-3">
    {% for comment in post.comments.all %}
    <div class="list-group-item list-group-item-action list-group-item-light">
        <strong class="text-dark">
            {{ comment.name }} -
            {{ comment.created_on }}
        </strong>
        <br>
        {{ comment.body }}
    </div>
    {% endfor %}
</div>
{% endif %}



{% endblock %}