<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        KickBack
        {% endblock %}
    </title>
    <script src="https://kit.fontawesome.com/966bd2f054.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body class="d-flex flex-column h-100">
    <div class="img-fluid" style="background: url('https://res.cloudinary.com/dlklmgobu/image/upload/v1685102259/KickBack%20Blog/timothy-tan-PAe2UhGo-S4-unsplash_jonn58.jpg') no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 100vh;">
        <nav class=" navbar navbar-expand-lg navbar-dark" style="background-color: green;">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">KickBack <i class="fa-regular fa-futbol"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'category-list' %}">Categories</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add_post' %}">Add Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add_category' %}">Add Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                        </li>
                        {% endif %}
                </div>
            </div>
        </nav>
        <div class="container p-3">
            {% block content %}


            {% endblock %}
        </div>
        <script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
        <div class="footer-container" style="min-height: 200px;">
            <footer class="fixed-bottom text-center text-white" style="background-color: green;">
                <!-- Grid container -->
                <div class="container pt-2">
                    <!-- Section: Social media -->
                    <section class="mb-2">
                        <!-- Facebook -->
                        <a class="btn btn-link btn-floating btn-lg text-light m-1" href="https://www.facebook.com/"
                            role="button" data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>

                        <!-- Twitter -->
                        <a class="btn btn-link btn-floating btn-lg text-light m-1" href="https://twitter.com/"
                            role="button" data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>

                        <!-- Instagram -->
                        <a class="btn btn-link btn-floating btn-lg text-light m-1" href="https://www.instagram.com/"
                            role="button" data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

                        <!-- Linkedin -->
                        <a class="btn btn-link btn-floating btn-lg text-light m-1"
                            href="https://www.linkedin.com/in/scott-andrews-292412180/" role="button"
                            data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
                        <!-- Github -->
                        <a class="btn btn-link btn-floating btn-lg text-light m-1" href="https://github.com/ScottA27"
                            role="button" data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
                    </section>
                    <!-- Section: Social media -->
                </div>
                <!-- Grid container -->

                <!-- Copyright -->
                <div class="text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2023 Copyright:
                    <a class="text-light" href="https://github.com/ScottA27">ScottA27</a>
                </div>
                <!-- Copyright -->
            </footer>
        </div>
</body>

</html>