{% extends 'base.html' %}
{% block title %}Delete Blog Post{% endblock %}
{% block content %}

{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<h1 class="text-light">Delete Post</h1>
<br>
<h3 class="text-light">Delete: {{ post.title }}</h3>
<div class="form-group text-light">
    <form method="POST">
        {% csrf_token %}
        <strong>Are you sure?</strong><br>
        <button style="background-color: green; color: white;" class="btn btn-variant-1">Delete Post!</button>
    </form>
</div>
{% else %}
<div class="text-light">
    Please Login or Register if you wish to do this action!
</div>
{% endif %}
{% else %}
<div class="text-light">
    Please Login or Register if you wish to do this action!
</div>
{% endif %}


{% endblock %}