{% extends 'base.html' %}

{% block content %}


<h1>Posts</h1>
<div class="list-group">
    {% for post in object_list %}
    <div class="list-group-item list-group-item-action list-group-item-light">
        <div><a href="{% url 'article-detail' post.slug %}" class="link-dark fw-bold">{{ post.title }}</a>
            - <a href="{% url 'category' post.category|slugify %}" class="link-dark fw-bold">{{ post.category }}</a> -
            {{ post.author }} - {{ post.created_on }}
            <small>
                {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                - <a href="{% url 'update_post' post.slug %}" class="link-dark fw-bold">Edit</a>
                <a href="{% url 'delete_post' post.slug %}" class="link-dark fw-bold">Delete</a>
                {% endif %}
                {% endif %}
            </small>
            <br>
            {{ post.content|slice:":200"|safe }}
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}